.Intro {
  padding: 40px 5vw;
  background-color:steelblue;

  @media (min-width: 600px) {
    padding: 40px 50px 40px 70px;
  }
}

.Intro__list {
  margin: 30px 20px;
  padding: 0;
  list-style-type: square;
}

.Intro__heading {
  text-align: center;
  font-size: 1.3rem;

  @media (min-width: 1200px) {
    font-size: 1.75rem;
  }

  @media (min-width: 900px) {
    text-align: inherit;
  }
}

.Intro__list-item {
  font-size: 1rem;
  position: relative;
  margin-top: 10px;

  @media (min-width: 1200px) {
    font-size: 1.2rem;
  }
}
