@import url('https://fonts.googleapis.com/css?family=Inconsolata');

body {
  margin: 0;
  padding: 0;
  background-color: #f9f9f9;
  font: 10px 'Inconsolata', sans-serif;
  -webkit-font-smoothing: antialiased;
}

h1, h2, h3, h4 {
  font-family: 'Inconsolata', sans-serif;
  margin: 0;
}

h1 {
  font-size:  3rem
}

h2 {
  font-size:  2.25rem;
}

h3 {
  font-size:  1.75rem;
}

h4 {
  font-size:  1.125rem;
}

* {
  box-sizing: border-box;
}

.container {
  width: 80%;
  margin: 0 auto;
}

.font--bold {
  font-weight: bold;
}